@import './_variables.scss';

.popup-restart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-inline: 2rem;
    height: 26.6rem;

    @media only screen and (max-width: $br-sm) {
        height: 22.8rem;
    }

    &__heading {
        margin-bottom: 3.1rem;
        text-align: center;
        color: $silver;

        @media only screen and (max-width: $br-md) {
            margin-bottom: 2.4rem;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3rem;
            letter-spacing: .15rem;
        }

    }

    &__options {
        display: flex;
        gap: 1.6rem;
    }

}