@import './_variables.scss';

.popup {
    display: none;
    align-items: center;

    height: 100vh;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: hsla(0, 0%, 0%, 0.725);

    z-index: 20;

    &.show {
        display: flex;
    }

    &__content {
        flex: 1;
        background-color: $semi-dark-navi;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}