@import './_variables.scss';

.board {

    &.my-turn .cell:not(.cell--cross):not(.cell--circle):hover {
        cursor: pointer;
    }

    &.my-turn.cross .cell:not(.cell--cross):not(.cell--circle)::after {
        background: url(../assets/icon-x-outline.svg) no-repeat center;
    }

    &.my-turn.circle .cell:not(.cell--cross):not(.cell--circle)::after {
        background: url(../assets/icon-o-outline.svg) no-repeat center;
    }

    &.my-turn.cross .cell:not(.cell--cross):not(.cell--circle)::after,
    &.my-turn.circle .cell:not(.cell--cross):not(.cell--circle)::after {
        content: "";
        width: 100%;
        height: 100%;
        background-size: 20.71%;
        transition: all .1s ease-out;
        opacity: 0;
    }

    &.my-turn.cross .cell:not(.cell--cross):not(.cell--circle):hover::after,
    &.my-turn.cross .cell:not(.cell--cross):not(.cell--circle):focus::after,
    &.my-turn.circle .cell:not(.cell--cross):not(.cell--circle):hover::after,
    &.my-turn.circle .cell:not(.cell--cross):not(.cell--circle):focus::after {
        background-size: 45.71%;
        opacity: 1;
    }

}